body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.panel {
    margin: 20px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 15px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    gap: 4px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 45px;
    height: 45px;
    background: #d1d5db;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
}

.cell:hover {
    transform: scale(1.05);
}

.player1 {
    background: #22c55e;
}

.player2 {
    background: #ef4444;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#winner {
    margin-top: 20px;
}

@media (max-width:600px) {
    #board {
        grid-template-columns: repeat(10, 30px);
    }

    .cell {
        width: 30px;
        height: 30px;
    }
}